<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #greetingForm="ngForm" (submit)="displayGreeting(greetingForm)">
    <ion-input type="text" placeholder="Who are you?" [(ngModel)]="greeting"
      name="greeting" [notIn]="['Bob']" required #greetingInput="ngModel"></ion-input>
    <ion-button type="submit" [disabled]="greetingForm.invalid">Submit</ion-button>
  </form>

  <p *ngIf="displayedGreeting">
    Hello {{ displayedGreeting }}
  </p>
  <p *ngIf="greetingInput.hasError('required') && greetingInput.dirty">
    Name is required
  </p>
  <p *ngIf="greetingInput.hasError('notIn') && greetingInput.dirty">
    Name is forbidden
  </p>

</ion-content>
