<ion-header>
  
</ion-header>

<ion-content fullscreen >
  <ion-card>
    <img src="https://via.placeholder.com/150" />
    <ion-card-header>
      <ion-card-subtitle>some tag here</ion-card-subtitle>
      <ion-card-title>Event Name</ion-card-title>
      <ion-chip>
        <ion-icon name="pin"></ion-icon>
        <ion-label>Rue de Pins, 33, 1007 Lausanne</ion-label>
      </ion-chip>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block">Show Chat</ion-button>

</ion-content>
<!-- Modal component for Live chat usage -->
<!-- <ion-modal-controller></ion-modal-controller> -->
