.event-date-time {
  margin-top: 1em;
}

.event-date-time .event-date {
  margin: 0 1em;
  float: left;
}

.event-date-time .event-time {
  margin: 0  1em;
  float: right;
}

.event-date-time button.like-button {
background: red;
}

ion-fab-button {

  position: fixed;
  right: 0;
  top: 45%;
}
