<ion-header>
  <ion-toolbar>
    <ion-title>Event</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">City<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleCityValue(event)" placeholder="Lausanne"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="date" oninput="handleDataValue(event)"></ion-input>
      </ion-item>

    </ion-list>

  </form>

  <ion-button expand="block">Search</ion-button>
  <ion-card *ngFor="let event of events">
    <img src="https://via.placeholder.com/250x150" />
    <ion-card-header>
      <ion-card-subtitle>{{event.adress}} </ion-card-subtitle>
      <ion-card-title>{{event.name}}</ion-card-title>
      <ion-card-subtitle class="event-date-time">
        <ion-text class="event-date">
          <ion-icon name="calendar"></ion-icon>
          {{event.date}}
        </ion-text>
        <ion-text class="event-time">
          <ion-icon name="clock"></ion-icon>
          {{event.time}}
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{event.description}} </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
