<ion-header>
  <ion-toolbar>
    <ion-title>All Events</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form #filterForm="ngForm" (submit)="onSubmit(filterForm)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">City</ion-label>
        <ion-input type="text" id="cityName" class="form-control" name="cityName" placeholder="Lausanne" ngModel>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date</ion-label>
        <ion-input type="date" id="dataValue" class="form-control" name="dataValue" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Show all events</ion-label>
        <ion-toggle></ion-toggle>
        </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="filterForm.invalid">Search</ion-button>
  </form>
  <div *ngIf="isAuth">
    <ion-button type="button" routerLink="create" expand="block">Add</ion-button>
  </div>

  <ion-card  *ngFor="let event of events">
      <div *ngIf="isAuth">
          <ion-fab vertical="top" horizontal="end" slot="fixed">
          <ion-fab-button (click)="member(event._id)" color="danger"><ion-icon name="add"></ion-icon></ion-fab-button>
          </ion-fab>
        </div>
        <div [routerLink]="['event', event._id]">
    <img src="https://via.placeholder.com/250x150" />
    
    <ion-card-header>
      <ion-card-subtitle>{{event.adress}} </ion-card-subtitle>
      <ion-card-title>{{event.name}}</ion-card-title>
      <ion-card-subtitle class="event-date-time">
        <ion-text class="event-date">
          <ion-icon name="calendar"></ion-icon>
          {{event.date}}
        </ion-text>
        <ion-text class="event-time">
          <ion-icon name="clock"></ion-icon>
          {{event.time}}
        </ion-text>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>{{event.description}} </ion-text>
    </ion-card-content>
  </div>
  </ion-card>
</ion-content>